!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Update Book
    %link{:href => "data:image/x-icon;,", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "../css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "../css/user.css", :rel => "stylesheet"}/
    %link{:href => "../css/show.css", :rel => "stylesheet"}/
  %body
    .contaner
      %h1 Update Book
      %hr
      .form
        %form{:action => '/book/update?id=' + @book[:id].to_s, :method => 'post', :enctype => 'multipart/form-data'}
          .wrap_element
            %label Title
            %span *
            %input{:type => 'text', :required => '', :name => 'title', :value => @book[:title]}
          
          .wrap_element
            %label Author
            %span
            %input{:type => 'text', :required => '', :value => session[:user][:last_name] +" "+session[:user][:first_name], :readonly => true}
          
          .wrap_element
            %label Publisher
            %span *
            %input{:type => 'text', :required => '', :name => 'publisher', :value => @book[:publisher]}

          .wrap_element
            %label Year
            %input{:type => 'number', :required => '', :name => 'year', :value => @book[:year]}

          .button
            %input{:type => 'submit', :value => 'Submit'}

    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/user_cru.js"}
